---
Checks: >-
  bugprone-*,
  performance-*,
  clang-analyzer-*,
  -bugprone-easily-swappable-parameters

WarningsAsErrors: ''

HeaderFilterRegex: '(src|h)/.*\.(hpp?|h)'

FormatStyle: file

CheckOptions:
  - key: bugprone-reserved-identifier.AllowedIdentifiers
    value: '__.*'
